@font-face {
  font-family: novelDisplay;
  src: url('/assets/fonts/NovelDisplay-ExtraBold.otf');
}

/*----------------------------------------*/
/* Fonts, Colors and Scroll               */
/*----------------------------------------*/

:root {
  /*Fonts*/
  --font-default: 'Poppins', sans-serif;
  --font-primary: 'novelDisplay', sans-serif;

  /*Website Palette*/
  --color-default: #fbfbf2;

  --color-primary: #f3587a;
  --color-primary-shade-01: #f76c87;
  --color-primary-shade-02: #fa7e93;

  --color-secondary: #04a8b4;
  --color-secondary-shade-01: #3db1bb;
  --color-secondary-light-01: #ecf6f7;
  --color-secondary-light-02: #d9eef0;
  --color-secondary-light-03: #9bdce1;
  --color-secondary-dark-01: #027c85;
  --color-secondary-dark-02: #015258;

  --color-background: #06141b;

  /*Color Shades*/
  --color-grey-shade-01: #eeeeee;
  --color-grey-shade-02: #dddddd;
  --color-grey-shade-03: #cccccc;
  --color-grey-shade-04: #bbbbbb;
  --color-grey-shade-05: #aaaaaa;
  --color-dark-shade-00: #313d43;
  --color-dark-shade-01: #1a272e;
  --color-dark-shade-02: #172329;
  --color-dark-shade-03: #121b20;
  --color-dark-shade-04: #0a1012;

  /*Color Media Icons*/
  --color-youtube: #e74646;
  --color-instagram: #d62976;
  --color-twitter: #000;
  --color-artstation: #42a5f5;

  /*Color Testimonials*/
  --color-testimonial-primary: #04a8b4;
  --color-testimonial-white: #ffffff;
  --color-testimonial-light: #ced6e0;
  --color-testimonial-dark: #2f3542;

  /*Font Sizes*/
  --font-size-00: 3.5rem;
  --font-size-01: 3rem;
  --font-size-02: 2.75rem;
  --font-size-03: 2.5rem;
  --font-size-04: 2.25rem;
  --font-size-05: 2rem;
  --font-size-06: 1.75rem;
  --font-size-07: 1.5rem;
  --font-size-08: 1.25rem;
  --font-size-09: .8rem;

  --font-size-regular: 1rem;

  /*Font-Weight*/
  --font-w-light: 200;
  --font-w-regular: 400;
  --font-w-medium: 500;
  --font-w-semibold: 600;
  --font-w-bold: 800;
}

@media screen and (max-width: 1200px) {
  :root {
    --font-size-00: 3rem;
    --font-size-01: 2.5rem;
    --font-size-02: 2.25rem;
    --font-size-03: 2rem;
    --font-size-04: 1.75rem;
    --font-size-05: 1.5rem;
    --font-size-06: 1.25rem;
    --font-size-07: 1.15rem;
    --font-size-08: 1rem;
    --font-size-09: 0.75rem;

    --font-size-regular: 0.938rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*----------------------------------------*/
/* HTML / General                         */
/*----------------------------------------*/

html {
  background-color: var(--color-background);
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-track {
  background: var(--color-dark-shade-01);
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb {
  background: var(--color-dark-shade-03);
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb:hover {
  background: var(--color-dark-shade-02);
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb:active {
  background: var(--color-dark-shade-00);
  border-radius: 10px;
}

body {
  font-family: var(--font-default);
  color: var(--color-default);
  background-color: var(--color-background);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
  text-decoration: none;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

.grid-box {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 4rem 2rem;
}

.gallery-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 70px 0px;
}

.glass-bg {
  background: var(--color-dark-shade-03);
  border-top: 0.5px solid rgba(255, 255, 255, 0.18);
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.18);
}

.main-head {
  font-family: var(--font-primary);
  color: var(--color-default);
  font-weight: 700;
  font-size: 3.5rem;
  text-transform: capitalize;
  margin: 0;
}

/*----------------------------------------*/
/* Preloader Animation                    */
/*----------------------------------------*/

#preloader {
  display: flex;
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100vh;
  z-index: 99999;
}

#preloader:before,
#preloader:after {
  content: '';
  background-color: var(--color-background);
  position: absolute;
  inset: 0;
  width: 50%;
  height: 100%;
  transition: all 0.3s ease 0s;
  z-index: -1;
}

#preloader:after {
  left: auto;
  right: 0;
}

#preloader .line {
  position: relative;
  overflow: hidden;
  margin: auto;
  width: 1px;
  height: 280px;
  transition: all 0.8s ease 0s;
}

#preloader .line:before {
  content: '';
  position: absolute;
  background-color: var(--color-default);
  left: 0;
  top: 50%;
  width: 1px;
  height: 0%;
  transform: translateY(-50%);
  -webkit-animation: lineincrease 1000ms ease-in-out 0s forwards;
  animation: lineincrease 1000ms ease-in-out 0s forwards;
}

#preloader .line:after {
  content: '';
  position: absolute;
  background-color: var(--color-grey-shade-05);
  left: 0;
  top: 0;
  width: 1px;
  height: 100%;
  transform: translateY(-100%);
  -webkit-animation: linemove 1200ms linear 0s infinite;
  animation: linemove 1200ms linear 0s infinite;
  -webkit-animation-delay: 2000ms;
  animation-delay: 2000ms;
}

#preloader.loaded .line {
  opacity: 0;
  height: 100% !important;
}

#preloader.loaded .line:after {
  opacity: 0;
}

#preloader.loaded:before,
#preloader.loaded:after {
  -webkit-animation: preloaderfinish 300ms ease-in-out 500ms forwards;
  animation: preloaderfinish 300ms ease-in-out 500ms forwards;
}

@-webkit-keyframes lineincrease {
  0% {
    height: 0%;
  }

  100% {
    height: 100%;
  }
}

@keyframes lineincrease {
  0% {
    height: 0%;
  }

  100% {
    height: 100%;
  }
}

@-webkit-keyframes linemove {
  0% {
    transform: translateY(200%);
  }

  100% {
    transform: translateY(-100%);
  }
}

@keyframes linemove {
  0% {
    transform: translateY(200%);
  }

  100% {
    transform: translateY(-100%);
  }
}

@-webkit-keyframes preloaderfinish {
  0% {
    width: 5 0%;
  }

  100% {
    width: 0%;
  }
}

@keyframes preloaderfinish {
  0% {
    width: 5 0%;
  }

  100% {
    width: 0%;
  }
}

/*----------------------------------------*/
/* Scroll Button                          */
/*----------------------------------------*/

.scroll-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: -15px;
  z-index: 99999;
  background: var(--color-primary);
  width: 44px;
  height: 44px;
  border-radius: 50px;
  transition: all 0.4s;
}

.scroll-top i {
  font-size: 24px;
  color: var(--color-default);
  line-height: 0;
}

.scroll-top:hover {
  background: var(--color-testimonial-primary);
  color: var(--color-default);
}

.scroll-top.active {
  visibility: visible;
  opacity: 1;
  bottom: 15px;
}

/*--------------------------------------*/
/* Navbar                               */
/*--------------------------------------*/
.header {
  width: 100%;
  background-color: var(--color-background);
  z-index: 100;
}

.nav {
  position: relative;
  height: 9rem;
  display: flex;
  align-items: center;
  padding: 0 80px;
}

.nav-margin {
  margin-right: auto;
}

.nav-logo {
  width: 200px;
}

.nav-close,
.nav-toggle {
  display: flex;
  color: var(--color-default);
  font-size: 1.5rem;
  cursor: pointer;
}

.nav-item a {
  text-decoration: none;
}

@media (max-width: 1200px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 0;
    background-color: var(--color-background);
    width: 100%;
    height: 100%;
    padding: 6rem 2.5rem 4.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: left 0.4s;
    z-index: 1000;
  }

  .nav-item {
    transform: translateX(-150px);
    visibility: hidden;
    transition: transform 0.4s ease-out, visibility 0.4s;
  }

  .nav-item:nth-child(1) {
    transition-delay: 0.1s;
  }

  .nav-item:nth-child(2) {
    transition-delay: 0.2s;
  }

  .nav-item:nth-child(3) {
    transition-delay: 0.3s;
  }

  .nav-item:nth-child(4) {
    transition-delay: 0.4s;
  }

  .nav-item:nth-child(5) {
    transition-delay: 0.5s;
  }
}

.nav-list,
.nav-social,
.nav-social-sidebar {
  display: flex;
}

.nav-list {
  flex-direction: column;
  row-gap: 3rem;
  margin: 0;
  padding: 0;
}

.nav-list:hover .nav-link:not(:hover) {
  opacity: 0.4;
}

.nav-link {
  position: relative;
  color: var(--color-default);
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0;
  display: inline-flex;
  align-items: center;
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
}

.nav-link span::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
  background-color: var(--color-primary);
  transition: width 0.4s ease-out;
}

.nav-link:hover span {
  color: var(--color-primary);
}

.nav-link:hover span::after {
  width: 100%;
}

.nav-close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

.nav-social,
.nav-social-sidebar {
  margin: 0 2rem;
  column-gap: 2rem;
}

.nav-social-link {
  color: var(--color-default);
  font-size: 1.25rem;
  transition: transform 0.4s;
}

.nav-social-link:hover {
  transform: translateY(-0.25rem);
}

.nav-social-link.nav-instagram:hover {
  color: var(--color-instagram);
}

.nav-social-link.nav-artstation:hover {
  color: var(--color-artstation);
}

.nav-social-link.nav-twitter:hover {
  color: var(--color-default);
}

.show-menu {
  left: 0;
}

.show-menu .nav-item {
  visibility: visible;
  transform: translateX(0);
}

/*--------------------------------------*/
/* Footer-Section                       */
/*--------------------------------------*/

.footer-section {
  margin: 20px 0 20px 0;
}

.icon-list {
  width: 100%;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.icon-item {
  list-style: none;
}

.icon-item a {
  text-decoration: none;
}

.icon-link {
  display: inline-flex;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--color-grey-shade-05);
  width: 2.5rem;
  height: 2.5rem;
  transition: 0.5s linear;
  position: relative;
  z-index: 1;
  margin: auto;
}

.icon-link:hover {
  color: var(--color-default);
}

.icon-link i {
  margin: auto;
}

.icon-link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 2.5rem;
  height: 2.5rem;
  background: var(--color-background);
  border-radius: 50%;
  z-index: -1;
  transform: scale(0);
  transition: 0.3s cubic-bezier(0.95, 0.32, 0.37, 1.21);
}

.icon-link:hover::before {
  transform: scale(1);
}

.icon-item:nth-child(1) a:hover:before {
  background: var(--color-twitter);
}

.icon-item:nth-child(2) a:hover:before {
  background: var(--color-instagram);
}

.icon-item:nth-child(3) a:hover:before {
  background: var(--color-artstation);
}

.icon-item:nth-child(4) a:hover:before {
  background: var(--color-youtube);
}

.copyright {
  font-size: 12px;
  padding: 8px 0 8px 0;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .nav-menu {
    display: flex;
    align-items: center;
    column-gap: 3.5rem;
  }

  .nav-toggle,
  .nav-close {
    display: none;
  }

  .nav-link {
    font-size: 18px;
  }

  .nav-list {
    flex-direction: row;
    column-gap: 3.5rem;
  }

  .nav-social-sidebar {
    display: none;
  }
}

@media (max-width: 1200px) {
  .nav {
    padding: 0 40px;
  }
}

@media (max-width: 768px) {
  .nav {
    padding: 0 10px;
  }
}

@media (max-width: 520px) {
  .nav {
    height: 7rem;
  }

  .nav-logo {
    width: 125px;
    margin-bottom: 8px;
  }

  .nav-social,
  .nav-social-sidebar {
    margin: 0 1.5rem;
    column-gap: 1.5rem;
  }

  .main-head {
    font-size: var(--font-size-01);
  }
}

@media (max-width: 330px) {
  .nav-social-sidebar {
    display: none;
  }

  .nav-link {
    font-size: 16px;
  }

  .nav-social {
    margin: 0;
  }
}
